<html xmlns:th="http://thymeleaf.org">


<nav id="home-navbar" th:fragment="homepage-nav(current)" th:data-current-page="${current}" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home">Spell List Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="home">
        <a class="nav-link" th:href="@{/home}">Home</a>
      </li>
      <li class="nav-item" id="characters">
        <a class="nav-link" th:href="@{/character-select}">Characters</a>
      </li>
      <li class="nav-item" id="spells">
        <a class="nav-link" th:href="@{/spells}">Spells</a>
      </li>
      <li class="nav-item">
      	<form th:action="@{/logout}" method="post">
		    <button type="submit">Log Out</button>
		</form>
      </li>
    </ul>
  </div>
<script src="/js/nav.js"></script>
</nav>

