<html xmlns:th="http://thymeleaf.org">

<div th:fragment="standard" class="spell-list row">
			<div class="col-1"></div>
			<div name="Spell list window" class="col-10 content-window">
				<h2>Spells</h2>
				
				<div class='spell-table-navigation'>
					<div class='level-nav-container'>
						<ul class="level-nav nav" >
							<li value="0" class="active">
								<button><em>Cantrip</em></button>
							</li>
							<li value="1" class="">
								<button><em>Level 1</em></button>
							</li>
							<li value="2" class="">
								<button><em>Level 2</em></button>
							</li>
							<li value="3" class="">
								<button><em>Level 3</em></button>
							</li>
							<li value="4" class="">
								<button><em>Level 4</em></button>
							</li>
							<li value="5" class="">
								<button><em>Level 5</em></button>
							</li>
							<li value="6" class="">
								<button><em>Level 6</em></button>
							</li>
							<li value="7" class="">
								<button><em>Level 7</em></button>
							</li>
							<li value="8" class="">
								<button><em>Level 8</em></button>
							</li>
							<li value="9" class="">
								<button><em>Level 9</em></button>
							</li>
						</ul>
					</div>
					<div name="class-filters" class="">
						<span text="Class">Class Filter</span>
						<select id="class-filters">
							
							<option name="none" value="none">none</option>
							<option name="bard" value="bard">Bard</option>
							<option name="cleric" value="cleric">Cleric</option>
							<option name="druid" value="druid">Druid</option>
							<option name="paladin" value="paladin">Paladin</option>
							<option name="ranger" value="ranger">Ranger</option>
							<option name="sorcerer" value="sorcerer">Sorcerer</option>
							<option name="warlock" value="warlock">Warlock</option>
							<option name="wizard" value="wizard">Wizard</option>
						</select>
					</div>
				</div>

				<div name="Spells" class="spell-list row">
					<table value='0' class="cantrips spell-table">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>	
							</tr>
						</thead>
						<tbody th:each="spell: ${cantrip_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=1 class="first-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${one_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=2 class="second-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${two_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=3 class="third-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${three_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=4 class="fourth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${four_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=5 class="fifth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${five_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=6 class="sixth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${six_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=7 class="seventh-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${seven_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=8 class="eighth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${eight_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
					<table value=9 class="ninth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
							</tr>
						</thead>
						<tbody th:each="spell: ${nine_list}" th:insert='~{fragments/spell-row :: basic}'>
						</tbody>
					</table>
				</div>
				
				<div name="Spell Cards">
					<div th:each="spell : ${cantrip_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${one_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${two_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${three_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${four_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${five_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${six_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${seven_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${eight_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${nine_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
				</div>
				
			</div>
			
		</div>
		
		
<div th:fragment="adder" class="spell-list spell-list-adder row">
			<div class="col-1"></div>
			<div name="Spell list window" class="col-10 content-window">
				<button id="close-window">Back to List</button>
				<h2>Add Spells</h2>
				
				<div>
					<div class='level-nav-container'>
						<ul class="level-nav nav" >
							<li value="0" class="active">
								<button><em>Cantrip</em></button>
							</li>
							<li value="1" class="">
								<button><em>Level 1</em></button>
							</li>
							<li value="2" class="">
								<button><em>Level 2</em></button>
							</li>
							<li value="3" class="">
								<button><em>Level 3</em></button>
							</li>
							<li value="4" class="">
								<button><em>Level 4</em></button>
							</li>
							<li value="5" class="">
								<button><em>Level 5</em></button>
							</li>
							<li value="6" class="">
								<button><em>Level 6</em></button>
							</li>
							<li value="7" class="">
								<button><em>Level 7</em></button>
							</li>
							<li value="8" class="">
								<button><em>Level 8</em></button>
							</li>
							<li value="9" class="">
								<button><em>Level 9</em></button>
							</li>
						</ul>
					</div>
					<span name="class-filters" class="">
						<span text="Class">Class Filter</span>
						<select id="class-filters">
							
							<option name="none" value="none">none</option>
							<option name="bard" value="bard">Bard</option>
							<option name="cleric" value="cleric">Cleric</option>
							<option name="druid" value="druid">Druid</option>
							<option name="paladin" value="paladin">Paladin</option>
							<option name="ranger" value="ranger">Ranger</option>
							<option name="sorcerer" value="sorcerer">Sorcerer</option>
							<option name="warlock" value="warlock">Warlock</option>
							<option name="wizard" value="wizard">Wizard</option>
						</select>
					</span>
				</div>

				<div name="Spells" class="spell-list row">
					<table value='0' class="cantrips spell-table">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>	
							</tr>
						</thead>
						<tbody th:each="spell: ${cantrip_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=1 class="first-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${one_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=2 class="second-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${two_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=3 class="third-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${three_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=4 class="fourth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${four_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=5 class="fifth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${five_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=6 class="sixth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${six_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=7 class="seventh-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${seven_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=8 class="eighth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:each="spell: ${eight_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
					<table value=9 class="ninth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
							</tr>
						</thead>
						<tbody th:each="spell: ${nine_list}" th:insert='~{fragments/spell-row :: add}'>
						</tbody>
					</table>
				</div>
				
				<div name="Spell Cards">
					<div th:each="spell : ${cantrip_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${one_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${two_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${three_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${four_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${five_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${six_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${seven_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${eight_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${nine_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
				</div>
				
			</div>
			
		</div>

<div th:fragment="spell-list" class="row">
			<div class="col-1"></div>
			<div name="Spell list window" class="col-10 content-window">
			<div id="loading" class="spinnder-border hidden">
				<span class="visually-hidden">Loading...</span>
			</div>
			<button id="show-spell-edit" type="button">Edit</button>
			<button id="hide-spell-edit" class="hidden" type="button">Save</button>
			<button id="show-spell-adder" class="hidden" type="button">Add spells +</button>
							<h2>Spells</h2>
				
				<div>
					<div class='level-nav-container'>
						<ul class="level-nav nav" >
							<li value="0" class="active">
								<button type="button"><em>Cantrip</em></button>
							</li>
							<li value="1" class="">
								<button type="button"><em>Level 1</em></button>
							</li>
							<li value="2" class="">
								<button type="button"><em>Level 2</em></button>
							</li>
							<li value="3" class="">
								<button type="button"><em>Level 3</em></button>
							</li>
							<li value="4" class="">
								<button type="button"><em>Level 4</em></button>
							</li>
							<li value="5" class="">
								<button type="button"><em>Level 5</em></button>
							</li>
							<li value="6" class="">
								<button type="button"><em>Level 6</em></button>
							</li>
							<li value="7" class="">
								<button type="button"><em>Level 7</em></button>
							</li>
							<li value="8" class="">
								<button type="button"><em>Level 8</em></button>
							</li>
							<li value="9" class="">
								<button type="button"><em>Level 9</em></button>
							</li>
						</ul>
					</div>
					<span name="class-filters" class="">
						<span text="Class">Class Filter</span>
						<select id="class-filters">
							<option name="none" value="none">none</option>
							<option name="bard" value="bard">Bard</option>
							<option name="cleric" value="cleric">Cleric</option>
							<option name="druid" value="druid">Druid</option>
							<option name="paladin" value="paladin">Paladin</option>
							<option name="ranger" value="ranger">Ranger</option>
							<option name="sorcerer" value="sorcerer">Sorcerer</option>
							<option name="warlock" value="warlock">Warlock</option>
							<option name="wizard" value="wizard">Wizard</option>
						</select>
					</span>
				</div>

				<div name="Spells" class="spell-list spell-list-empty row">
					<table value='0' class="cantrips spell-table">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col" class="hidden remove"></th>	
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char0})}'>
						</tbody>
					</table>
					<table value=1 class="first-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char1})}'>
						</tbody>
					</table>
					<table value=2 class="second-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char2})}'>
						</tbody>
					</table>
					<table value=3 class="third-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char3})}'>
						</tbody>
					</table>
					<table value=4 class="fourth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char4})}'>
						</tbody>
					</table>
					<table value=5 class="fifth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char5})}'>
						</tbody>
					</table>
					<table value=6 class="sixth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char6})}'>
						</tbody>
					</table>
					<table value=7 class="seventh-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char7})}'>
						</tbody>
					</table>
					<table value=8 class="eighth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char8})}'>
						</tbody>
					</table>
					<table value=9 class="ninth-level spell-table" style="display: none">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">School</th>
								<th scope="col">Casting Time</th>
								<th scope="col">Range</th>
								<th scope="col">Duration</th>
								<th scope="col">Components</th>
							</tr>
						</thead>
						<tbody th:insert='~{fragments/spell-row :: spell-list(${char9})}'>
						</tbody>
					</table>
				</div>
				
				<div name="Spell Cards">
					<div th:each="spell : ${cantrip_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${one_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${two_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${three_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${four_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${five_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${six_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${seven_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${eight_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
					<div th:each="spell : ${nine_list}" th:insert="~{fragments/spellcard :: spellcard-popup}" th:remove="tag"></div>
				</div>
				
			</div>
			
		</div>
		
<form th:fragment="spell-list-form" id="spell-list-form" th:action="@{/update-spell-list}" th:object="${character}" method="post">
			<input type="text" name="character_id" th:field="*{character_id}" hidden=/>
			<div th:insert="~{fragments/spell-table :: spell-list}" class="current-spell-list"></div>
</form>
	