@charset "UTF-8";



td[name="character-name"] {
	font-weight: 700;
}

button[name="create character"] {
	position: absolute;
	right: 10px;
	border: none;
	background-color: white;
	color: red;
}



