@charset "UTF-8";

.hidden {
	display: none;
}

.spell-adder-window {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 999999999999999;
	background-color: white;
}

input[name='save spell list'] {
	color: red;
}